openapi: 3.0.3
info:
  title: OPBX REST API
  description: |
    OPBX is an open-source business PBX platform built on Laravel and React.
    This API provides complete management of PBX resources including extensions,
    phone numbers, ring groups, IVR menus, AI assistants, call routing, and more.

    ## Authentication
    All API endpoints require Bearer token authentication via Laravel Sanctum.
    Include the token in the Authorization header:
    ```
    Authorization: Bearer {your-sanctum-token}
    ```

    ## Rate Limiting
    API requests are rate-limited. The default limit is 60 requests per minute
    for authenticated users. Check the `X-RateLimit-*` headers in responses.

    ## Pagination
    List endpoints return paginated results with the following structure:
    - `data`: Array of resources
    - `meta`: Pagination metadata (current_page, last_page, per_page, total)
    - `links`: Navigation links (first, last, prev, next)

    ## Multi-Tenancy
    All resources are scoped to the authenticated user's organization.
    The API automatically applies organization filtering based on the authenticated user.

    ## Error Handling
    Errors follow a consistent format:
    ```json
    {
      "message": "Error description",
      "errors": {
        "field_name": ["Error message for this field"]
      }
    }
    ```
  version: 1.0.0
  contact:
    name: OPBX Support
    url: https://developers.cloudonix.com/opbx
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://opbx.cloudonix.cloud/api
    description: OPBX Production Server

security:
  - bearerAuth: []

paths:
  # ==========================================
  # Public Endpoints
  # ==========================================
  /health:
    get:
      tags:
        - Public
      summary: Health Check
      description: Returns the current health status of the API
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-15T10:30:00Z"

  /storage/recordings/{path}:
    get:
      tags:
        - Public
      summary: Serve Recording File
      description: Serves audio recording files with HMAC signature verification
      operationId: serveRecording
      security: []
      parameters:
        - name: path
          in: path
          required: true
          description: Path to the recording file
          schema:
            type: string
        - name: signature
          in: query
          required: true
          description: HMAC signature for file access
          schema:
            type: string
        - name: expires
          in: query
          required: true
          description: Expiration timestamp for the signed URL
          schema:
            type: integer
      responses:
        '200':
          description: Audio file content
          content:
            audio/wav:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
        '403':
          description: Invalid or expired signature
        '404':
          description: File not found

  # ==========================================
  # Authentication
  # ==========================================
  /v1/auth/login:
    post:
      tags:
        - Authentication
      summary: User Login
      description: Authenticate a user and return access token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: secret123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  access_token:
                    type: string
                    example: "1|laravel_sanctum_token_xxx"
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/auth/register:
    post:
      tags:
        - Authentication
      summary: User Registration
      description: Register a new user and create their organization
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organization_name
                - name
                - email
                - password
              properties:
                organization_name:
                  type: string
                  minLength: 2
                  maxLength: 255
                  example: "Acme Corporation"
                name:
                  type: string
                  minLength: 2
                  maxLength: 255
                  example: "John Doe"
                email:
                  type: string
                  format: email
                  example: "john@acme.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123!"
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  organization:
                    $ref: '#/components/schemas/Organization'
                  access_token:
                    type: string
                    example: "1|laravel_sanctum_token_xxx"
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /v1/auth/register/validate:
    get:
      tags:
        - Authentication
      summary: Validate Registration Data
      description: Check if email and organization name are available
      operationId: validateRegistration
      security: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
        - name: organization_name
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  email_available:
                    type: boolean
                  organization_name_available:
                    type: boolean

  /v1/auth/logout:
    post:
      tags:
        - Authentication
      summary: User Logout
      description: Revoke the current access token
      operationId: logout
      responses:
        '204':
          description: Logout successful
        '401':
          description: Unauthorized

  /v1/auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh Token
      description: Refresh the current access token
      operationId: refreshToken
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string

  /v1/auth/me:
    get:
      tags:
        - Authentication
      summary: Get Current User
      description: Get information about the currently authenticated user
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'

  # ==========================================
  # Profile
  # ==========================================
  /v1/profile:
    get:
      tags:
        - Profile
      summary: Get Profile
      description: Get the current user's profile
      operationId: getProfile
      responses:
        '200':
          description: Profile retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'

    put:
      tags:
        - Profile
      summary: Update Profile
      description: Update the current user's profile
      operationId: updateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 255
                phone:
                  type: string
                  maxLength: 50
                street_address:
                  type: string
                  maxLength: 255
                city:
                  type: string
                  maxLength: 100
                state_province:
                  type: string
                  maxLength: 100
                postal_code:
                  type: string
                  maxLength: 20
                country:
                  type: string
                  maxLength: 100
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'

  /v1/profile/password:
    put:
      tags:
        - Profile
      summary: Update Password
      description: Change the current user's password
      operationId: updatePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - password
                - password_confirmation
              properties:
                current_password:
                  type: string
                  format: password
                password:
                  type: string
                  format: password
                  minLength: 8
                password_confirmation:
                  type: string
                  format: password
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Password updated successfully"
        '422':
          description: Validation error

  /v1/profile/organization:
    put:
      tags:
        - Profile
      summary: Update Organization
      description: Update organization settings (owner only)
      operationId: updateOrganizationProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 255
                timezone:
                  type: string
                  example: "America/New_York"
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Organization'
        '403':
          description: Forbidden - requires owner role

  # ==========================================
  # Users
  # ==========================================
  /v1/users:
    get:
      tags:
        - Users
      summary: List Users
      description: Get paginated list of users in the organization
      operationId: listUsers
      parameters:
        - name: search
          in: query
          description: Search by name or email
          schema:
            type: string
        - name: role
          in: query
          description: Filter by role
          schema:
            type: string
            enum: [owner, pbx_admin, pbx_user, reporter]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items per page
          schema:
            type: integer
            default: 15
            maximum: 100
      responses:
        '200':
          description: Paginated list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserResponse'

    post:
      tags:
        - Users
      summary: Create User
      description: Create a new user in the organization
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - role
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 255
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                role:
                  type: string
                  enum: [owner, pbx_admin, pbx_user, reporter]
                status:
                  type: string
                  enum: [active, inactive]
                  default: active
                phone:
                  type: string
                  maxLength: 50
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '422':
          description: Validation error

  /v1/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: User ID
        schema:
          type: integer

    get:
      tags:
        - Users
      summary: Get User
      description: Get a specific user by ID
      operationId: getUser
      responses:
        '200':
          description: User retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '404':
          description: User not found

    put:
      tags:
        - Users
      summary: Update User
      description: Update a user
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 255
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [owner, pbx_admin, pbx_user, reporter]
                status:
                  type: string
                  enum: [active, inactive]
                phone:
                  type: string
                  maxLength: 50
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '404':
          description: User not found

    delete:
      tags:
        - Users
      summary: Delete User
      description: Delete a user
      operationId: deleteUser
      responses:
        '204':
          description: User deleted
        '403':
          description: Cannot delete owner or self
        '404':
          description: User not found

  /v1/users/{id}/password:
    parameters:
      - name: id
        in: path
        required: true
        description: User ID
        schema:
          type: integer

    patch:
      tags:
        - Users
      summary: Update User Password
      description: Change a user's password (admin only)
      operationId: updateUserPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        '200':
          description: Password updated
        '404':
          description: User not found

  # ==========================================
  # Extensions
  # ==========================================
  /v1/extensions:
    get:
      tags:
        - Extensions
      summary: List Extensions
      description: Get paginated list of extensions
      operationId: listExtensions
      parameters:
        - name: search
          in: query
          description: Search by extension number or name
          schema:
            type: string
        - name: type
          in: query
          description: Filter by type
          schema:
            type: string
            enum: [user, conference, ring_group, ivr, ai_assistant, forward, ai_load_balancer, custom_logic]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: user_id
          in: query
          description: Filter by assigned user
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of extensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExtensionResponse'

    post:
      tags:
        - Extensions
      summary: Create Extension
      description: Create a new extension
      operationId: createExtension
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionCreateRequest'
      responses:
        '201':
          description: Extension created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Extension'
        '422':
          description: Validation error

  /v1/extensions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Extension ID
        schema:
          type: integer

    get:
      tags:
        - Extensions
      summary: Get Extension
      description: Get a specific extension
      operationId: getExtension
      responses:
        '200':
          description: Extension retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Extension'
        '404':
          description: Extension not found

    put:
      tags:
        - Extensions
      summary: Update Extension
      description: "Update an extension (note: extension_number is immutable)"
      operationId: updateExtension
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionUpdateRequest'
      responses:
        '200':
          description: Extension updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Extension'
        '404':
          description: Extension not found

    delete:
      tags:
        - Extensions
      summary: Delete Extension
      description: Delete an extension
      operationId: deleteExtension
      responses:
        '204':
          description: Extension deleted
        '404':
          description: Extension not found

  /v1/extensions/{id}/password:
    parameters:
      - name: id
        in: path
        required: true
        description: Extension ID
        schema:
          type: integer

    get:
      tags:
        - Extensions
      summary: Get SIP Password
      description: Get the SIP password for a user extension
      operationId: getExtensionPassword
      responses:
        '200':
          description: SIP password retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  password:
                    type: string
        '404':
          description: Extension not found

  /v1/extensions/{id}/reset-password:
    parameters:
      - name: id
        in: path
        required: true
        description: Extension ID
        schema:
          type: integer

    put:
      tags:
        - Extensions
      summary: Reset SIP Password
      description: Reset the SIP password for a user extension
      operationId: resetExtensionPassword
      responses:
        '200':
          description: Password reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  password:
                    type: string
        '404':
          description: Extension not found

  /v1/extensions/sync/compare:
    get:
      tags:
        - Extensions
      summary: Compare Extensions Sync
      description: Compare local extensions with Cloudonix
      operationId: compareExtensionsSync
      responses:
        '200':
          description: Comparison result
          content:
            application/json:
              schema:
                type: object
                properties:
                  local_only:
                    type: array
                    items:
                      type: object
                  cloudonix_only:
                    type: array
                    items:
                      type: object
                  mismatched:
                    type: array
                    items:
                      type: object

  /v1/extensions/sync:
    post:
      tags:
        - Extensions
      summary: Sync Extensions
      description: Bidirectional sync with Cloudonix
      operationId: syncExtensions
      responses:
        '200':
          description: Sync completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  updated:
                    type: integer
                  deleted:
                    type: integer

  # ==========================================
  # Phone Numbers / DIDs
  # ==========================================
  /v1/phone-numbers:
    get:
      tags:
        - Phone Numbers
      summary: List Phone Numbers
      description: Get paginated list of phone numbers (DIDs)
      operationId: listPhoneNumbers
      parameters:
        - name: search
          in: query
          description: Search by phone number or friendly name
          schema:
            type: string
        - name: routing_type
          in: query
          description: Filter by routing type
          schema:
            type: string
            enum: [extension, ring_group, business_hours, conference_room, ai_assistant, ivr_menu, ai_load_balancer]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of phone numbers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPhoneNumberResponse'

    post:
      tags:
        - Phone Numbers
      summary: Create Phone Number
      description: Create a new phone number (DID)
      operationId: createPhoneNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberCreateRequest'
      responses:
        '201':
          description: Phone number created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PhoneNumber'
        '422':
          description: Validation error

  /v1/phone-numbers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Phone Number ID
        schema:
          type: integer

    get:
      tags:
        - Phone Numbers
      summary: Get Phone Number
      description: Get a specific phone number
      operationId: getPhoneNumber
      responses:
        '200':
          description: Phone number retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PhoneNumber'
        '404':
          description: Phone number not found

    put:
      tags:
        - Phone Numbers
      summary: Update Phone Number
      description: "Update a phone number (note: phone_number is immutable)"
      operationId: updatePhoneNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberUpdateRequest'
      responses:
        '200':
          description: Phone number updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PhoneNumber'
        '404':
          description: Phone number not found

    delete:
      tags:
        - Phone Numbers
      summary: Delete Phone Number
      description: Delete a phone number
      operationId: deletePhoneNumber
      responses:
        '204':
          description: Phone number deleted
        '404':
          description: Phone number not found

  # ==========================================
  # Ring Groups
  # ==========================================
  /v1/ring-groups:
    get:
      tags:
        - Ring Groups
      summary: List Ring Groups
      description: Get paginated list of ring groups
      operationId: listRingGroups
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of ring groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRingGroupResponse'

    post:
      tags:
        - Ring Groups
      summary: Create Ring Group
      description: Create a new ring group
      operationId: createRingGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RingGroupCreateRequest'
      responses:
        '201':
          description: Ring group created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RingGroup'
        '422':
          description: Validation error

  /v1/ring-groups/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Ring Group ID
        schema:
          type: integer

    get:
      tags:
        - Ring Groups
      summary: Get Ring Group
      description: Get a specific ring group
      operationId: getRingGroup
      responses:
        '200':
          description: Ring group retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RingGroup'
        '404':
          description: Ring group not found

    put:
      tags:
        - Ring Groups
      summary: Update Ring Group
      description: Update a ring group
      operationId: updateRingGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RingGroupUpdateRequest'
      responses:
        '200':
          description: Ring group updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RingGroup'
        '404':
          description: Ring group not found

    delete:
      tags:
        - Ring Groups
      summary: Delete Ring Group
      description: Delete a ring group
      operationId: deleteRingGroup
      responses:
        '204':
          description: Ring group deleted
        '404':
          description: Ring group not found

  # ==========================================
  # IVR Menus
  # ==========================================
  /v1/ivr-menus/voices:
    get:
      tags:
        - IVR Menus
      summary: List TTS Voices
      description: Get available TTS voices from Cloudonix
      operationId: listTtsVoices
      responses:
        '200':
          description: List of TTS voices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        language:
                          type: string
                        gender:
                          type: string

  /v1/ivr-menus:
    get:
      tags:
        - IVR Menus
      summary: List IVR Menus
      description: Get paginated list of IVR menus
      operationId: listIvrMenus
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of IVR menus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIvrMenuResponse'

    post:
      tags:
        - IVR Menus
      summary: Create IVR Menu
      description: Create a new IVR menu
      operationId: createIvrMenu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IvrMenuCreateRequest'
      responses:
        '201':
          description: IVR menu created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IvrMenu'
        '422':
          description: Validation error

  /v1/ivr-menus/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: IVR Menu ID
        schema:
          type: integer

    get:
      tags:
        - IVR Menus
      summary: Get IVR Menu
      description: Get a specific IVR menu
      operationId: getIvrMenu
      responses:
        '200':
          description: IVR menu retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IvrMenu'
        '404':
          description: IVR menu not found

    put:
      tags:
        - IVR Menus
      summary: Update IVR Menu
      description: Update an IVR menu
      operationId: updateIvrMenu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IvrMenuUpdateRequest'
      responses:
        '200':
          description: IVR menu updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IvrMenu'
        '404':
          description: IVR menu not found

    delete:
      tags:
        - IVR Menus
      summary: Delete IVR Menu
      description: Delete an IVR menu
      operationId: deleteIvrMenu
      responses:
        '204':
          description: IVR menu deleted
        '404':
          description: IVR menu not found

  /v1/ivr-menus/{id}/toggle-status:
    parameters:
      - name: id
        in: path
        required: true
        description: IVR Menu ID
        schema:
          type: integer

    patch:
      tags:
        - IVR Menus
      summary: Toggle IVR Menu Status
      description: Toggle the active/inactive status of an IVR menu
      operationId: toggleIvrMenuStatus
      responses:
        '200':
          description: Status toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IvrMenu'
        '404':
          description: IVR menu not found

  # ==========================================
  # Business Hours
  # ==========================================
  /v1/business-hours:
    get:
      tags:
        - Business Hours
      summary: List Business Hours Schedules
      description: Get paginated list of business hours schedules
      operationId: listBusinessHours
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of business hours
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBusinessHoursResponse'

    post:
      tags:
        - Business Hours
      summary: Create Business Hours Schedule
      description: Create a new business hours schedule
      operationId: createBusinessHours
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursCreateRequest'
      responses:
        '201':
          description: Business hours created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessHoursSchedule'
        '422':
          description: Validation error

  /v1/business-hours/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Business Hours ID
        schema:
          type: integer

    get:
      tags:
        - Business Hours
      summary: Get Business Hours Schedule
      description: Get a specific business hours schedule
      operationId: getBusinessHours
      responses:
        '200':
          description: Business hours retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessHoursSchedule'
        '404':
          description: Business hours not found

    put:
      tags:
        - Business Hours
      summary: Update Business Hours Schedule
      description: Update a business hours schedule
      operationId: updateBusinessHours
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursUpdateRequest'
      responses:
        '200':
          description: Business hours updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessHoursSchedule'
        '404':
          description: Business hours not found

    delete:
      tags:
        - Business Hours
      summary: Delete Business Hours Schedule
      description: Delete a business hours schedule
      operationId: deleteBusinessHours
      responses:
        '204':
          description: Business hours deleted
        '404':
          description: Business hours not found

  /v1/business-hours/{id}/duplicate:
    parameters:
      - name: id
        in: path
        required: true
        description: Business Hours ID
        schema:
          type: integer

    post:
      tags:
        - Business Hours
      summary: Duplicate Business Hours Schedule
      description: Create a deep copy of a business hours schedule
      operationId: duplicateBusinessHours
      responses:
        '201':
          description: Business hours duplicated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessHoursSchedule'
        '404':
          description: Business hours not found

  /v1/business-hours/{id}/toggle-status:
    parameters:
      - name: id
        in: path
        required: true
        description: Business Hours ID
        schema:
          type: integer

    patch:
      tags:
        - Business Hours
      summary: Toggle Business Hours Status
      description: Toggle the active/inactive status
      operationId: toggleBusinessHoursStatus
      responses:
        '200':
          description: Status toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessHoursSchedule'
        '404':
          description: Business hours not found

  # ==========================================
  # Conference Rooms
  # ==========================================
  /v1/conference-rooms:
    get:
      tags:
        - Conference Rooms
      summary: List Conference Rooms
      description: Get paginated list of conference rooms
      operationId: listConferenceRooms
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of conference rooms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedConferenceRoomResponse'

    post:
      tags:
        - Conference Rooms
      summary: Create Conference Room
      description: Create a new conference room
      operationId: createConferenceRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceRoomCreateRequest'
      responses:
        '201':
          description: Conference room created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ConferenceRoom'
        '422':
          description: Validation error

  /v1/conference-rooms/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Conference Room ID
        schema:
          type: integer

    get:
      tags:
        - Conference Rooms
      summary: Get Conference Room
      description: Get a specific conference room
      operationId: getConferenceRoom
      responses:
        '200':
          description: Conference room retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ConferenceRoom'
        '404':
          description: Conference room not found

    put:
      tags:
        - Conference Rooms
      summary: Update Conference Room
      description: Update a conference room
      operationId: updateConferenceRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceRoomUpdateRequest'
      responses:
        '200':
          description: Conference room updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ConferenceRoom'
        '404':
          description: Conference room not found

    delete:
      tags:
        - Conference Rooms
      summary: Delete Conference Room
      description: Delete a conference room
      operationId: deleteConferenceRoom
      responses:
        '204':
          description: Conference room deleted
        '404':
          description: Conference room not found

  # ==========================================
  # AI Assistants
  # ==========================================
  /v1/ai-assistants:
    get:
      tags:
        - AI Assistants
      summary: List AI Assistants
      description: Get paginated list of AI assistants
      operationId: listAiAssistants
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: provider
          in: query
          description: Filter by provider
          schema:
            type: string
        - name: protocol
          in: query
          description: Filter by protocol
          schema:
            type: string
            enum: [sip, websocket]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of AI assistants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiAssistantResponse'

    post:
      tags:
        - AI Assistants
      summary: Create AI Assistant
      description: Create a new AI assistant
      operationId: createAiAssistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAssistantCreateRequest'
      responses:
        '201':
          description: AI assistant created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiAssistant'
        '422':
          description: Validation error

  /v1/ai-assistants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: AI Assistant ID
        schema:
          type: integer

    get:
      tags:
        - AI Assistants
      summary: Get AI Assistant
      description: Get a specific AI assistant
      operationId: getAiAssistant
      responses:
        '200':
          description: AI assistant retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiAssistant'
        '404':
          description: AI assistant not found

    put:
      tags:
        - AI Assistants
      summary: Update AI Assistant
      description: Update an AI assistant
      operationId: updateAiAssistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAssistantUpdateRequest'
      responses:
        '200':
          description: AI assistant updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiAssistant'
        '404':
          description: AI assistant not found

    delete:
      tags:
        - AI Assistants
      summary: Delete AI Assistant
      description: Delete an AI assistant
      operationId: deleteAiAssistant
      responses:
        '204':
          description: AI assistant deleted
        '404':
          description: AI assistant not found

  # ==========================================
  # AI Assistant Providers
  # ==========================================
  /v1/ai-assistant/providers:
    get:
      tags:
        - AI Assistant Providers
      summary: List AI Assistant Providers
      description: Get all AI assistant providers grouped by protocol
      operationId: listAiAssistantProviders
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: '#/components/schemas/AiAssistantProvider'

  /v1/ai-assistant/providers/{key}:
    parameters:
      - name: key
        in: path
        required: true
        description: Provider key
        schema:
          type: string

    get:
      tags:
        - AI Assistant Providers
      summary: Get AI Assistant Provider
      description: Get a specific AI assistant provider
      operationId: getAiAssistantProvider
      responses:
        '200':
          description: Provider details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiAssistantProvider'
        '404':
          description: Provider not found

  /v1/ai-assistant/providers/protocol/{protocol}:
    parameters:
      - name: protocol
        in: path
        required: true
        description: Protocol (sip or websocket)
        schema:
          type: string
          enum: [sip, websocket]

    get:
      tags:
        - AI Assistant Providers
      summary: Get Providers by Protocol
      description: Get AI assistant providers by protocol
      operationId: getAiAssistantProvidersByProtocol
      responses:
        '200':
          description: List of providers for protocol
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiAssistantProvider'

  # ==========================================
  # AI Load Balancers
  # ==========================================
  /v1/ai-assistant-load-balancers:
    get:
      tags:
        - AI Load Balancers
      summary: List AI Load Balancers
      description: Get paginated list of AI load balancers
      operationId: listAiLoadBalancers
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of AI load balancers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiLoadBalancerResponse'

    post:
      tags:
        - AI Load Balancers
      summary: Create AI Load Balancer
      description: Create a new AI load balancer
      operationId: createAiLoadBalancer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiLoadBalancerCreateRequest'
      responses:
        '201':
          description: AI load balancer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiLoadBalancer'
        '422':
          description: Validation error

  /v1/ai-assistant-load-balancers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: AI Load Balancer ID
        schema:
          type: integer

    get:
      tags:
        - AI Load Balancers
      summary: Get AI Load Balancer
      description: Get a specific AI load balancer
      operationId: getAiLoadBalancer
      responses:
        '200':
          description: AI load balancer retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiLoadBalancer'
        '404':
          description: AI load balancer not found

    put:
      tags:
        - AI Load Balancers
      summary: Update AI Load Balancer
      description: Update an AI load balancer
      operationId: updateAiLoadBalancer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiLoadBalancerUpdateRequest'
      responses:
        '200':
          description: AI load balancer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AiLoadBalancer'
        '404':
          description: AI load balancer not found

    delete:
      tags:
        - AI Load Balancers
      summary: Delete AI Load Balancer
      description: Delete an AI load balancer
      operationId: deleteAiLoadBalancer
      responses:
        '204':
          description: AI load balancer deleted
        '404':
          description: AI load balancer not found

  # ==========================================
  # Recordings
  # ==========================================
  /v1/recordings:
    get:
      tags:
        - Recordings
      summary: List Recordings
      description: Get paginated list of recordings
      operationId: listRecordings
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: type
          in: query
          description: Filter by type
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, archived, deleted]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of recordings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRecordingResponse'

    post:
      tags:
        - Recordings
      summary: Upload Recording
      description: Upload a new recording file
      operationId: uploadRecording
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio file (WAV, MP3)
                name:
                  type: string
                  description: Recording name
                type:
                  type: string
                  description: Recording type
      responses:
        '201':
          description: Recording uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Recording'
        '422':
          description: Validation error

  /v1/recordings/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Recording ID
        schema:
          type: integer

    get:
      tags:
        - Recordings
      summary: Get Recording
      description: Get a specific recording
      operationId: getRecording
      responses:
        '200':
          description: Recording retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Recording'
        '404':
          description: Recording not found

    delete:
      tags:
        - Recordings
      summary: Delete Recording
      description: Delete a recording
      operationId: deleteRecording
      responses:
        '204':
          description: Recording deleted
        '404':
          description: Recording not found

  /v1/recordings/{id}/download:
    parameters:
      - name: id
        in: path
        required: true
        description: Recording ID
        schema:
          type: integer

    get:
      tags:
        - Recordings
      summary: Get Recording Download URL
      description: Get a secure download URL for a recording
      operationId: getRecordingDownloadUrl
      responses:
        '200':
          description: Download URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                    format: uri
                  expires_at:
                    type: string
                    format: date-time
        '404':
          description: Recording not found

  /v1/recordings/download:
    get:
      tags:
        - Recordings
      summary: Download Recording
      description: Download a recording using a secure token
      operationId: downloadRecording
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: Secure download token
          schema:
            type: string
      responses:
        '200':
          description: Audio file content
          content:
            audio/wav:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
        '403':
          description: Invalid or expired token
        '404':
          description: Recording not found

  # ==========================================
  # Settings (Owner Only)
  # ==========================================
  /v1/settings/cloudonix:
    get:
      tags:
        - Settings
      summary: Get Cloudonix Settings
      description: Get Cloudonix integration settings (owner only)
      operationId: getCloudonixSettings
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      domain_uuid:
                        type: string
                      domain_api_key:
                        type: string
                      webhook_base_url:
                        type: string
                      no_answer_timeout:
                        type: integer
                      recording_format:
                        type: string
        '403':
          description: Forbidden - requires owner role

    put:
      tags:
        - Settings
      summary: Update Cloudonix Settings
      description: Update Cloudonix integration settings (owner only)
      operationId: updateCloudonixSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain_uuid:
                  type: string
                domain_api_key:
                  type: string
                webhook_base_url:
                  type: string
                no_answer_timeout:
                  type: integer
                  minimum: 10
                  maximum: 300
                recording_format:
                  type: string
                  enum: [wav, mp3]
      responses:
        '200':
          description: Settings updated
        '403':
          description: Forbidden - requires owner role
        '422':
          description: Validation error

  /v1/settings/cloudonix/validate:
    post:
      tags:
        - Settings
      summary: Validate Cloudonix Credentials
      description: Validate Cloudonix domain UUID and API key
      operationId: validateCloudonixCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain_uuid
                - domain_api_key
              properties:
                domain_uuid:
                  type: string
                domain_api_key:
                  type: string
      responses:
        '200':
          description: Credentials valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  domain:
                    type: string
        '422':
          description: Invalid credentials

  /v1/settings/cloudonix/generate-requests-key:
    post:
      tags:
        - Settings
      summary: Generate Requests Key
      description: Generate a new requests key for Cloudonix API
      operationId: generateRequestsKey
      responses:
        '200':
          description: Key generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests_key:
                    type: string

  /v1/settings/cloudonix/outbound-trunks:
    get:
      tags:
        - Settings
      summary: List Outbound Trunks
      description: Get available outbound trunks from Cloudonix
      operationId: listOutboundTrunks
      responses:
        '200':
          description: List of outbound trunks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        provider:
                          type: string

  # ==========================================
  # Outbound Whitelist
  # ==========================================
  /v1/outbound-whitelist:
    get:
      tags:
        - Outbound Whitelist
      summary: List Outbound Whitelist Entries
      description: Get paginated list of outbound whitelist entries
      operationId: listOutboundWhitelist
      parameters:
        - name: search
          in: query
          description: Search by name or prefix
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of whitelist entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOutboundWhitelistResponse'

    post:
      tags:
        - Outbound Whitelist
      summary: Create Outbound Whitelist Entry
      description: Create a new outbound whitelist entry
      operationId: createOutboundWhitelist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundWhitelistCreateRequest'
      responses:
        '201':
          description: Entry created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OutboundWhitelistEntry'
        '422':
          description: Validation error

  /v1/outbound-whitelist/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Whitelist Entry ID
        schema:
          type: integer

    get:
      tags:
        - Outbound Whitelist
      summary: Get Outbound Whitelist Entry
      description: Get a specific whitelist entry
      operationId: getOutboundWhitelist
      responses:
        '200':
          description: Entry retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OutboundWhitelistEntry'
        '404':
          description: Entry not found

    put:
      tags:
        - Outbound Whitelist
      summary: Update Outbound Whitelist Entry
      description: Update a whitelist entry
      operationId: updateOutboundWhitelist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundWhitelistUpdateRequest'
      responses:
        '200':
          description: Entry updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OutboundWhitelistEntry'
        '404':
          description: Entry not found

    delete:
      tags:
        - Outbound Whitelist
      summary: Delete Outbound Whitelist Entry
      description: Delete a whitelist entry
      operationId: deleteOutboundWhitelist
      responses:
        '204':
          description: Entry deleted
        '404':
          description: Entry not found

  /v1/outbound-whitelist/{id}/toggle-status:
    parameters:
      - name: id
        in: path
        required: true
        description: Whitelist Entry ID
        schema:
          type: integer

    patch:
      tags:
        - Outbound Whitelist
      summary: Toggle Outbound Whitelist Status
      description: Toggle the active/inactive status
      operationId: toggleOutboundWhitelistStatus
      responses:
        '200':
          description: Status toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OutboundWhitelistEntry'
        '404':
          description: Entry not found

  # ==========================================
  # Inbound Blacklist
  # ==========================================
  /v1/inbound-blacklist:
    get:
      tags:
        - Inbound Blacklist
      summary: List Inbound Blacklist Entries
      description: Get paginated list of inbound blacklist entries
      operationId: listInboundBlacklist
      parameters:
        - name: search
          in: query
          description: Search by caller ID pattern
          schema:
            type: string
        - name: match_type
          in: query
          description: Filter by match type
          schema:
            type: string
            enum: [exact, prefix, wildcard]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of blacklist entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInboundBlacklistResponse'

    post:
      tags:
        - Inbound Blacklist
      summary: Create Inbound Blacklist Entry
      description: Create a new inbound blacklist entry
      operationId: createInboundBlacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundBlacklistCreateRequest'
      responses:
        '201':
          description: Entry created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InboundBlacklistEntry'
        '422':
          description: Validation error

  /v1/inbound-blacklist/statistics:
    get:
      tags:
        - Inbound Blacklist
      summary: Get Blacklist Statistics
      description: Get statistics about blocked calls
      operationId: getInboundBlacklistStatistics
      responses:
        '200':
          description: Statistics retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_blocked:
                    type: integer
                  blocked_today:
                    type: integer
                  blocked_this_week:
                    type: integer
                  top_patterns:
                    type: array
                    items:
                      type: object

  /v1/inbound-blacklist/blocked-logs:
    get:
      tags:
        - Inbound Blacklist
      summary: List Blocked Call Logs
      description: Get logs of blocked incoming calls
      operationId: listBlockedCallLogs
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of blocked call logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        caller_id:
                          type: string
                        did_number:
                          type: string
                        blocked_at:
                          type: string
                          format: date-time
                        pattern_matched:
                          type: string

  /v1/inbound-blacklist/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Blacklist Entry ID
        schema:
          type: integer

    get:
      tags:
        - Inbound Blacklist
      summary: Get Inbound Blacklist Entry
      description: Get a specific blacklist entry
      operationId: getInboundBlacklist
      responses:
        '200':
          description: Entry retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InboundBlacklistEntry'
        '404':
          description: Entry not found

    put:
      tags:
        - Inbound Blacklist
      summary: Update Inbound Blacklist Entry
      description: Update a blacklist entry
      operationId: updateInboundBlacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundBlacklistUpdateRequest'
      responses:
        '200':
          description: Entry updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InboundBlacklistEntry'
        '404':
          description: Entry not found

    delete:
      tags:
        - Inbound Blacklist
      summary: Delete Inbound Blacklist Entry
      description: Delete a blacklist entry
      operationId: deleteInboundBlacklist
      responses:
        '204':
          description: Entry deleted
        '404':
          description: Entry not found

  /v1/inbound-blacklist/{id}/toggle-status:
    parameters:
      - name: id
        in: path
        required: true
        description: Blacklist Entry ID
        schema:
          type: integer

    patch:
      tags:
        - Inbound Blacklist
      summary: Toggle Inbound Blacklist Status
      description: Toggle the active/inactive status
      operationId: toggleInboundBlacklistStatus
      responses:
        '200':
          description: Status toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InboundBlacklistEntry'
        '404':
          description: Entry not found

  # ==========================================
  # Call Logs
  # ==========================================
  /v1/call-logs:
    get:
      tags:
        - Call Logs
      summary: List Call Logs
      description: Get paginated list of call logs
      operationId: listCallLogs
      parameters:
        - name: from_date
          in: query
          description: Filter by date range start
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          description: Filter by date range end
          schema:
            type: string
            format: date
        - name: direction
          in: query
          description: Filter by call direction
          schema:
            type: string
            enum: [inbound, outbound]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of call logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCallLogResponse'

  /v1/call-logs/active:
    get:
      tags:
        - Call Logs
      summary: List Active Calls
      description: Get list of currently active calls
      operationId: listActiveCalls
      responses:
        '200':
          description: List of active calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CallLog'

  /v1/call-logs/statistics:
    get:
      tags:
        - Call Logs
      summary: Get Call Statistics
      description: Get call statistics and metrics
      operationId: getCallStatistics
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Call statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_calls:
                    type: integer
                  inbound_calls:
                    type: integer
                  outbound_calls:
                    type: integer
                  total_duration:
                    type: integer
                  average_duration:
                    type: integer

  /v1/call-logs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Call Log ID
        schema:
          type: integer

    get:
      tags:
        - Call Logs
      summary: Get Call Log
      description: Get a specific call log entry
      operationId: getCallLog
      responses:
        '200':
          description: Call log retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CallLog'
        '404':
          description: Call log not found

  # ==========================================
  # Call Detail Records (CDR)
  # ==========================================
  /v1/call-detail-records:
    get:
      tags:
        - Call Detail Records
      summary: List CDRs
      description: Get paginated list of call detail records
      operationId: listCdrs
      parameters:
        - name: from
          in: query
          description: Filter by caller number
          schema:
            type: string
        - name: to
          in: query
          description: Filter by destination number
          schema:
            type: string
        - name: disposition
          in: query
          description: Filter by call disposition
          schema:
            type: string
            enum: [answered, busy, no_answer, failed, cancelled]
        - name: from_date
          in: query
          description: Filter by date range start
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          description: Filter by date range end
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of CDRs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCdrResponse'

  /v1/call-detail-records/export:
    get:
      tags:
        - Call Detail Records
      summary: Export CDRs
      description: Export CDRs as CSV
      operationId: exportCdrs
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: disposition
          in: query
          schema:
            type: string
      responses:
        '200':
          description: CSV file
          content:
            text/csv:
              schema:
                type: string

  /v1/call-detail-records/statistics:
    get:
      tags:
        - Call Detail Records
      summary: Get CDR Statistics
      description: Get CDR statistics and billing metrics
      operationId: getCdrStatistics
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: CDR statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_calls:
                    type: integer
                  total_duration:
                    type: integer
                  total_cost:
                    type: number
                    format: float
                  calls_by_disposition:
                    type: object

  /v1/call-detail-records/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: CDR ID
        schema:
          type: integer

    get:
      tags:
        - Call Detail Records
      summary: Get CDR
      description: Get a specific call detail record
      operationId: getCdr
      responses:
        '200':
          description: CDR retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CallDetailRecord'
        '404':
          description: CDR not found

  # ==========================================
  # Session Updates / Live Calls
  # ==========================================
  /v1/session-updates/active:
    get:
      tags:
        - Session Updates
      summary: List Active Sessions
      description: Get list of active call sessions
      operationId: listActiveSessions
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SessionUpdate'

  /v1/session-updates/active/stats:
    get:
      tags:
        - Session Updates
      summary: Get Active Session Statistics
      description: Get statistics about active calls
      operationId: getActiveSessionStats
      responses:
        '200':
          description: Active session statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_active:
                    type: integer
                  inbound_active:
                    type: integer
                  outbound_active:
                    type: integer
                  average_duration:
                    type: integer

  /v1/session-updates/{sessionId}:
    parameters:
      - name: sessionId
        in: path
        required: true
        description: Session ID
        schema:
          type: string

    get:
      tags:
        - Session Updates
      summary: Get Session Details
      description: Get details of a specific session
      operationId: getSession
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SessionUpdate'
        '404':
          description: Session not found

  /v1/session-updates/{sessionId}/disconnect:
    parameters:
      - name: sessionId
        in: path
        required: true
        description: Session ID
        schema:
          type: string

    delete:
      tags:
        - Session Updates
      summary: Disconnect Call
      description: Force disconnect an active call
      operationId: disconnectCall
      responses:
        '204':
          description: Call disconnected
        '404':
          description: Session not found
        '409':
          description: Call already ended

  # ==========================================
  # Call Notifications
  # ==========================================
  /v1/call-notifications/settings:
    get:
      tags:
        - Call Notifications
      summary: Get Notification Settings
      description: Get call notification settings
      operationId: getNotificationSettings
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CallNotificationSettings'

    post:
      tags:
        - Call Notifications
      summary: Create Notification Settings
      description: Create call notification settings
      operationId: createNotificationSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallNotificationSettingsCreateRequest'
      responses:
        '201':
          description: Settings created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CallNotificationSettings'

    put:
      tags:
        - Call Notifications
      summary: Update Notification Settings
      description: Update call notification settings
      operationId: updateNotificationSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallNotificationSettingsUpdateRequest'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CallNotificationSettings'

    delete:
      tags:
        - Call Notifications
      summary: Delete Notification Settings
      description: Delete call notification settings
      operationId: deleteNotificationSettings
      responses:
        '204':
          description: Settings deleted

  /v1/call-notifications/settings/test:
    post:
      tags:
        - Call Notifications
      summary: Test Notification Settings
      description: Send a test notification
      operationId: testNotificationSettings
      responses:
        '200':
          description: Test notification sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string

  /v1/call-notifications/logs:
    get:
      tags:
        - Call Notifications
      summary: List Notification Logs
      description: Get logs of sent notifications
      operationId: listNotificationLogs
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of notification logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CallNotificationLog'

  /v1/call-notifications/logs/{sessionToken}:
    parameters:
      - name: sessionToken
        in: path
        required: true
        description: Session token
        schema:
          type: string

    get:
      tags:
        - Call Notifications
      summary: Get Notification Logs for Session
      description: Get notification logs for a specific call session
      operationId: getSessionNotificationLogs
      responses:
        '200':
          description: Notification logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CallNotificationLog'

  /v1/call-notifications/rate-limit:
    get:
      tags:
        - Call Notifications
      summary: Get Rate Limit Status
      description: Get current rate limit status for notifications
      operationId: getNotificationRateLimit
      responses:
        '200':
          description: Rate limit status
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                  remaining:
                    type: integer
                  reset_at:
                    type: string
                    format: date-time
  # ==========================================
  # Auto Dialer Campaigns
  # ==========================================
  /v1/auto-dialer-campaigns:
    get:
      tags:
        - Auto Dialer Campaigns
      summary: List Campaigns
      description: Get paginated list of auto dialer campaigns
      operationId: listCampaigns
      parameters:
        - name: search
          in: query
          description: Search by name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [draft, running, paused, completed, archived]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAutoDialerCampaignResponse'

    post:
      tags:
        - Auto Dialer Campaigns
      summary: Create Campaign
      description: Create a new auto dialer campaign
      operationId: createCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoDialerCampaignCreateRequest'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '422':
          description: Validation error

  /v1/auto-dialer-campaigns/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    get:
      tags:
        - Auto Dialer Campaigns
      summary: Get Campaign
      description: Get a specific campaign
      operationId: getCampaign
      responses:
        '200':
          description: Campaign retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '404':
          description: Campaign not found

    put:
      tags:
        - Auto Dialer Campaigns
      summary: Update Campaign
      description: Update a campaign
      operationId: updateCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoDialerCampaignUpdateRequest'
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '404':
          description: Campaign not found

    delete:
      tags:
        - Auto Dialer Campaigns
      summary: Delete Campaign
      description: Delete a campaign
      operationId: deleteCampaign
      responses:
        '204':
          description: Campaign deleted
        '404':
          description: Campaign not found

  /v1/auto-dialer-campaigns/{id}/start:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    patch:
      tags:
        - Auto Dialer Campaigns
      summary: Start Campaign
      description: Start a campaign
      operationId: startCampaign
      responses:
        '200':
          description: Campaign started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '404':
          description: Campaign not found
        '409':
          description: Campaign cannot be started

  /v1/auto-dialer-campaigns/{id}/pause:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    patch:
      tags:
        - Auto Dialer Campaigns
      summary: Pause Campaign
      description: Pause a running campaign
      operationId: pauseCampaign
      responses:
        '200':
          description: Campaign paused
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '404':
          description: Campaign not found
        '409':
          description: Campaign cannot be paused

  /v1/auto-dialer-campaigns/{id}/resume:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    patch:
      tags:
        - Auto Dialer Campaigns
      summary: Resume Campaign
      description: Resume a paused campaign
      operationId: resumeCampaign
      responses:
        '200':
          description: Campaign resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '404':
          description: Campaign not found
        '409':
          description: Campaign cannot be resumed

  /v1/auto-dialer-campaigns/{id}/archive:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    patch:
      tags:
        - Auto Dialer Campaigns
      summary: Archive Campaign
      description: Archive a completed campaign
      operationId: archiveCampaign
      responses:
        '200':
          description: Campaign archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AutoDialerCampaign'
        '404':
          description: Campaign not found

  /v1/auto-dialer-campaigns/{id}/list:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    get:
      tags:
        - Auto Dialer Campaigns
      summary: Get Campaign List
      description: Get the distribution list assigned to a campaign
      operationId: getCampaignList
      responses:
        '200':
          description: Distribution list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DistributionList'
        '404':
          description: Campaign not found

    post:
      tags:
        - Auto Dialer Campaigns
      summary: Upload Campaign List
      description: Upload a distribution list to a campaign
      operationId: uploadCampaignList
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file with destinations
      responses:
        '201':
          description: List uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DistributionList'
        '422':
          description: Validation error

    delete:
      tags:
        - Auto Dialer Campaigns
      summary: Remove Campaign List
      description: Remove the distribution list from a campaign
      operationId: removeCampaignList
      responses:
        '204':
          description: List removed
        '404':
          description: Campaign not found

  /v1/auto-dialer-campaigns/{id}/destinations:
    parameters:
      - name: id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: integer

    get:
      tags:
        - Auto Dialer Campaigns
      summary: List Campaign Destinations
      description: Get destinations for a campaign
      operationId: listCampaignDestinations
      parameters:
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [pending, completed, failed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
      responses:
        '200':
          description: Paginated list of destinations
          content:
            application/json:
              schema:
                type: object
                properties:
[...]
