openapi: 3.0.0
servers:
  - url: 'https://api.cloudonix.io'
    description: Cloudonix Production API Endpoint
  - url: 'https://api.staging.cloudonix.io'
    description: Cloudonix Staging API Endpoint
info:
  title: Cloudonix REST API
  version: 1.0.0
  description: >
    # **Security Considerations**

    As a means of providing a fine grained security model, the Cloudonix Voice
    API uses a token based authorization model.

    The API caller is required to provide a valid token in the `Authorization`
    header of the request. The token is generated

    by the Cloudonix Dashboard and is unique to the user.


    ## Token Types and Scopes

    The Cloudonix Voice API includes the following token types:


    | Token Type | Description | Access Scope |

    |-|-|-|

    | `Customer` | A token generated at the `customer` level, either via the
    management cockpit or via the API. | `Customer`, `Domain`, `Subscriber`,
    `Container Application`, `Application`, `Trunk`, `DNID`, `User`, `API Key`,
    `Sessions` |

    | `Domain` | A token generated at the `domain` level, either via the
    management cockpit or via the API. | `Domain`, `Subscriber`, `Application`,
    `Trunk`, `DNID`, `User`, `API Key`, `Sessions` |

    | `Application` | A token, generated via the API for a `voice application`.
    | `Application`, `Trunk`, `DNID`, `User`, `API Key`, `Sessions` |

    | `Subscriber` | A token, generated via the API for a specific `subscriber`.
    | `Subscriber` |

    | `User` | A personal token, generated by the platform when an admin user is
    created. Will have the same access scope as the scope it was created in. |
    Same as `Customer` or `Domain` token scope. | 


    When a request to a specific API endpoint will be made, the token must have
    the appropriate scope to access the endpoint.

    If the token used does not have the appropriate scope, the API will return
    an HTTP 403 status code.


    ## API Endpoints and Canonical URLs

    The Cloudonix Voice API follows a strict URL structure, in compliance with
    the REST (Representational State Transfer) 

    architecture. As such, the API endpoints are structured as follows:


    `

    https://api.cloudonix.io/customer/{customer-id}/domain/{domain-id}/{resource}/{resource-id}

    `


    Where the `{resource}` may be any of the following: `application`, `trunk`,
    `dnid`, `apikey`, etc. 


    While the above represents the explicit URL structure, it is also possible
    to access the same resource using a more

    canonical URL structure. For example, a `customer` token, may be used with
    the following canonical URLs:


    ```

    https://api.cloudonix.io/customer/self/domain/{domain-id}/{resource}/{resource-id}

    ```

    or

    ```

    https://api.cloudonix.io/domain/{domain-id}/{resource}/{resource-id}

    ```


    When using a `domain` token, the following canonical URLs may be used:


    ```

    https://api.cloudonix.io/domain/self/{resource}/{resource-id}

    ```

    or

    ```

    https://api.cloudonix.io/{resource}/{resource-id}

    ```


    While the canonical URLs are provided, we suggest that you use the explicit
    URL structure to avoid any confusion.

    In addition, as our Voice APIs change and evolve, some of the canonical URLs
    may be deprecated in the future.


    # **Rate Limiting**

    Rate limits specify the maximum number of requests (GET, POST, PUT, or
    DELETE) a 

    user can make in a given time period. When you exceed a rate limit, the API
    request 

    fails and returns an HTTP 429 status code. 


    *We apply rate limits at the `domain` level.*


    ## **Rate Limit By Domain**

    The rate limit threshold is set at 10 calls per 3 seconds per domain. 


    | Requests | Resource | Time Period | Error Code Returned on Exceeding the
    Limit |

    |-|-|-|-|

    | 10 | `domain` | 3 seconds | HTTP 429 |


    ## **Why do you set a rate limit on the API?**

    Rate limiting is necessary to prevent the network from becoming overwhelmed
    by excessive 

    requests. This can occur due to hacking attempts, bot overuse of the APIs,
    or bugs in the code.

    Implementing a rate limit helps to mitigate such API overuse.  


    If you find the rate limit is too restrictive, please contact support for
    assistance.


    # **API Responses**

    If a request is successful, the server will respond with an HTTP `200 OK`
    with the

    `application/json` content type or a `204 No Content` response . The
    response JSON

    document will contain the a property, in accordance to the relevant consumed
    API.


    If the request is unsuccessful, the server will respond with one of the
    following HTTP responses:


    | Response             | description |

    | -------------------- | ----------- |

    | `400 Bad Request`    | The request body or other input are malformed or
    violate an input security constraint (example: specifying a `boolean` value
    as a `string`). |

    | `401 Unauthorized`   | The provided authorization token isn't authorized
    to interact with the requested object. |

    | `404 Not Found`      | The requested object can not be found. |

    | `500 Request Failed` | A general error had occurred that should be
    reported to `support@cloudonix.io`. |


    In some APIs, the response will contain a JSON document with a `status`
    value of `false`

    and a `message` with a string value detailing the reason for the rejection.


    # **DNID Source to Regular Expression Compilation**

    The DNID matching is done using regular expression searches to allow for the
    most flexibility of defining DNID matching rules. For ease of building user
    friendly interfaces,

    the API caller can use a simpler set of rules for DNID matching and instruct
    the API as to which set of rules to use to build the final expression to
    match with.


    The following rules are supported:

    1. Straight fixed text matching

    2. Prefix matching fixed text

    3. Glob-like character set expressions, fixed length or prefix matching

    4. Asterisk-like pattern matching


    # **A word about Cloudonix Dashboard Users**

    Cloudonix does not maintain usernames and passwords, as some of the other
    SaaS services do. Cloudonix relies on 3rd party authorization providers, to
    authorize access to the

    Cloudonix Dashboard. When defining a new user, using the `users` API - a
    newly created user's email *MUST* be verifiable via on of the following:


    1. Google

    2. Microsoft Office 365

    3. Github

    4. Facebook


    We are adding new authorization providers. If your preferred authorization
    provider isn't listed, please send an email to `support@cloudonix.io` to
    include your favorite

    authorization provider.
tags:
  - name: Customers
    description: Customer management
  - name: Tenants
    description: Tenant management (Deprecated by Customers)
  - name: Domains
    description: Domain management
  - name: Domain Aliases
    description: Domain Alias management
  - name: Subscribers
    description: Subscriber management
  - name: Applications
    description: Application management
  - name: Trunks
    description: Trunks management
  - name: DNIDs
    description: DNIDs management
  - name: Users
    description: Users management
  - name: API keys
    description: API keys management
  - name: Sessions
    description: Session Management
  - name: Reports
    description: Reporting and statistics
security:
  - bearerAuth: []
paths:
  '/customers/{customer-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Customers
      summary: Get customer
      operationId: customerList
      description: |
        Get information for the customer designated by `{customer-id}`
      responses:
        '200':
          description: A customer object (or array of)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerObject'
        '404':
          description: No customers found
  '/customers/{customer-id}/settings':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Customers
      summary: List settings
      operationId: customerGetSettings
      description: Get customer settings.
      responses:
        '200':
          description: A customer object (or array of)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerSettingsShortObject'
        '404':
          description: Not Found
  '/customers/{customer-id}/settings/{setting-name}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: setting-name
        schema:
          type: string
        required: true
        description: The setting to retrieve information for.
    get:
      tags:
        - Customers
      summary: Get setting
      operationId: customerGetSetting
      description: Get an object representing a specific customer setting.
      responses:
        '200':
          description: An object containing Customer Settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerSettingObject'
        '404':
          description: Not Found
    put:
      tags:
        - Customers
      summary: Update setting
      operationId: customerUpdateSetting
      description: Update customer setting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  example: some value
      responses:
        '200':
          description: An object containing Customer Settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerSettingObject'
    delete:
      tags:
        - Customers
      summary: Delete setting
      operationId: customerDeleteSetting
      description: Delete a specific customer setting.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: Not Found
  '/customers/{customer-id}/concurrency-limit':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Customers
      summary: Get concurrency limit
      operationId: customerGetConcurrencyLimit
      description: >
        Get the customers concurrency limit (This concurrency limit applies to
        all customer domains and resources).

        Concurrency limits set by the customer are `soft limits` - they will
        limit the concurrency, as long as they

        are lower than the platform's `hard limits`. In a case the `hard limit`
        is lower than the customer's `soft limit`, 

        the `hard limit` will be enforced.
      responses:
        '200':
          description: An object containing Customer Settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    example: 5
        '404':
          description: Not Found
    put:
      tags:
        - Customers
      summary: Update concurrency limit
      operationId: customerUpdateConcurrencyLimit
      description: Update customer concurrent limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                limit:
                  type: integer
                  example: 5
      responses:
        '200':
          description: An object containing the assigned concurrency limit
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    example: 5
    delete:
      tags:
        - Customers
      summary: Delete concurrency limit
      operationId: customerDeleteConcurrencyLimit
      description: Delete concurrency limit.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: Not Found
  '/customers/{customer-id}/users':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Customers
      summary: List users
      operationId: customerUsersList
      description: |
        Get a list of users associated to the `{customer-id}`.
      responses:
        '200':
          description: A list of User objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/userObject'
        '404':
          description: No Users found
        '500':
          description: Request Failed
    post:
      tags:
        - Customers
      summary: Create user
      operationId: customerUserCreate
      description: |
        Create a new customer level user - associated with `{customer-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: myuser@mydomain.com
      responses:
        '200':
          description: A User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userObject'
        '400':
          description: Bad Request
        '500':
          description: Request Failed
  '/customers/{customer-id}/users/{user-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: user-id
        schema:
          type: string
        required: true
        description: A user ID.
    get:
      tags:
        - Customers
      summary: Get user
      operationId: customerUserGet
      description: |
        Get a information of a user associated to the `{customer-id}`.
      responses:
        '200':
          description: A User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userObject'
        '404':
          description: No Users found
        '500':
          description: Request Failed
    delete:
      tags:
        - Customers
      summary: Delete user
      operationId: customerUserUpdate
      description: |
        Delete a user associated to the `{customer-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No Users found
        '500':
          description: Request Failed
  '/customers/{customer-id}/apikeys':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Customers
      summary: List API keys
      operationId: customerApikeyList
      description: |
        Get list of API keys associated with `{customer-id}`.
      responses:
        '200':
          description: An array of API key objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/apikeyObject'
        '404':
          description: No API keys found
        '500':
          description: Request Failed
    post:
      tags:
        - Customers
      summary: Create API key
      operationId: customerApikeyCreate
      description: |
        Create a customer level API keys associated with `{customer-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: my-customer-apikey-name
      responses:
        '200':
          description: An API key object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apikeyObject'
        '404':
          description: No API keys found
        '500':
          description: Request Failed
  '/customers/{customer-id}/apikeys/{apikey-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: apikey-id
        schema:
          type: string
        required: true
        description: An API key ID.
    get:
      tags:
        - Customers
      summary: Get API key
      operationId: customerApikeyGet
      description: >
        Get the information of the API key ID `{apikey-id}` associated with
        `{customer-id}`.
      responses:
        '200':
          description: An API key objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apikeyObject'
    delete:
      tags:
        - Customers
      summary: Delete API key
      operationId: customerApikeyDelete
      description: |
        Delete the API key ID `{apikey-id}` associated with `{customer-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No API keys found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Domains
      summary: List domains
      operationId: domainsList
      description: |
        Obtain list of domains associated with provided API key.
      responses:
        '200':
          description: An array of domain objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/domainObject'
        '404':
          description: No domains found
    post:
      tags:
        - Domains
      summary: Create domain
      operationId: domainCreate
      description: |
        Create a domain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  type: string
                  example: mydomain.name.com
                profile:
                  type: object
                  $ref: '#/components/schemas/domainProfileObject'
                registrationFree:
                  type: boolean
                  example: true
                defaultApplication:
                  type: integer
                  example: 233
      responses:
        '200':
          description: A domain object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/domainObject'
        '404':
          description: No domains found
  '/customers/{customer-id}/domains/{domain-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - Domains
      summary: Get domain
      operationId: domainGet
      description: |
        Obtain information for a specific domain name or ID.
      responses:
        '200':
          description: A domain object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainObject'
        '404':
          description: No domains found
    delete:
      tags:
        - Domains
      summary: Delete domain
      operationId: domainDelete
      description: |
        Delete a specific domain.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No domains found
    put:
      tags:
        - Domains
      summary: Update a domain
      operationId: domainUpdate
      description: |
        Update specific domain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                profile:
                  type: object
                  example:
                    key: value
                    key1: value1
      responses:
        '200':
          description: A domain object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainObject'
        '404':
          description: No domains found
    patch:
      tags:
        - Domains
      summary: Update domain profile
      operationId: domainProfileUpdate
      description: |
        Update domain profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                registrationFree:
                  type: boolean
                  example: true
                defaultApplication:
                  type: integer
                  example: 233
      responses:
        '200':
          description: A domain object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domainObject'
        '404':
          description: No domains found
  '/customers/{customer-id}/domains/{domain-id}/users':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or name.
    get:
      tags:
        - Domains
      summary: List users
      operationId: domainUsersList
      description: >
        Get a list of users associated to the `{customer-id}` and the
        `{domain-id}`.
      responses:
        '200':
          description: A list of User objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/userObject'
        '404':
          description: No Users found
        '500':
          description: Request Failed
    post:
      tags:
        - Domains
      summary: Create user
      operationId: domainUserCreate
      description: >
        Create a new domain level user - associated with `{customer-id}` and
        `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: myuser@mydomain.com
      responses:
        '200':
          description: A User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userObject'
        '400':
          description: Bad Request
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/users/{user-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or name.
      - in: path
        name: user-id
        schema:
          type: string
        required: true
        description: A user ID.
    get:
      tags:
        - Domains
      summary: Get user
      operationId: domainUserGet
      description: >
        Get a information of a user associated to the `{customer-id}` and
        `{domain-id}`.
      responses:
        '200':
          description: A User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userObject'
        '404':
          description: No Users found
        '500':
          description: Request Failed
    put:
      tags:
        - Domains
      summary: Update user
      operationId: domainUserUpdate
      description: >
        Update information of a user associated to the `{customer-id}` and
        `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: myuser@mydomain.com
      responses:
        '200':
          description: A User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userObject'
        '404':
          description: No Users found
        '500':
          description: Request Failed
    delete:
      tags:
        - Domains
      summary: Delete user
      operationId: domainUserDelete
      description: |
        Delete a user associated to the `{customer-id}` and `{domain-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No Users found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/apikeys':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or name.
    get:
      tags:
        - Domains
      summary: List API keys
      operationId: domainApikeyList
      description: |
        Get list of API keys associated with `{customer-id}` and `{domain-id}`.
      responses:
        '200':
          description: An array of API key objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/apikeyObject'
        '404':
          description: No API keys found
        '500':
          description: Request Failed
    post:
      tags:
        - Domains
      summary: Create API key
      operationId: domainApikeyCreate
      description: >
        Create a domain level API keys associated with `{customer-id}` and
        `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: my-customer-apikey-name
      responses:
        '200':
          description: An API key objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apikeyObject'
        '404':
          description: No API keys found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/apikeys/{apikey-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or name.
      - in: path
        name: apikey-id
        schema:
          type: string
        required: true
        description: An API key ID.
    delete:
      tags:
        - Domains
      summary: Delete API key
      operationId: domainApikeyDelete
      description: >
        Delete the API key ID `{apikey-id}` associated with `{customer-id}` and
        `{domain-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No API keys found
        '500':
          description: Request Failed
  '/domains/{domain-id}/resources/voices':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID to lookup
    get:
      tags:
        - Domains
      summary: List TTS Voices
      operationId: getDomainPremiumVoices
      description: |
        Get a domain list of OTT and Premium voices.
      responses:
        '200':
          description: A Voice resource object (or list of)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/premiumVoiceObject'
        '403':
          description: Domain is not authorized for OTT voices.
        '404':
          description: No voices found
  '/customers/{customer-id}/domains/{domain-id}/aliases':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - Domain Aliases
      summary: List aliases
      operationId: domainListAliases
      description: |
        Get domain aliases.
      responses:
        '200':
          description: A list of domain aliases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/domainAliasObject'
        '404':
          description: No domains found
    post:
      tags:
        - Domain Aliases
      summary: Create alias
      operationId: domainCreateAlias
      description: |
        Craete a domain alias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                alias:
                  type: string
                  example: domainalias.mydomain.com
      responses:
        '200':
          description: A object representing the created alias
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/domainAliasObject'
        '404':
          description: No domains found
  '/customers/{customer-id}/domains/{domain-id}/aliases/{alias-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    delete:
      tags:
        - Domain Aliases
      summary: Delete alias
      operationId: domainDeleteAlias
      description: |
        Delete a domain alias.
      parameters:
        - in: path
          name: alias-id
          schema:
            type: string
          required: true
          description: The domain alias ID or alias name.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No domains found
  '/customers/{customer-id}/domains/{domain-id}/trunks':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - Trunks
      summary: List voice trunks
      operationId: trunksList
      description: |
        List all trunks associated to the domain `{domain-id}`.
      responses:
        '200':
          description: An array of voice trunk objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/voicetrunkObject'
        '404':
          description: No trunks found
    post:
      tags:
        - Trunks
      summary: Create voice trunk
      operationId: trunkCreate
      description: |
        Create a new trunk and associate it to the `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/voicetrunkCreateObject'
      responses:
        '200':
          description: A voice trunk object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voicetrunkObject'
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/trunks/{trunk-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
      - in: path
        name: trunk-id
        schema:
          type: string
        required: true
        description: A trunk ID or trunk name.
    get:
      tags:
        - Trunks
      summary: Get voice trunk
      operationId: trunkGet
      description: |
        Get information for `{trunk-id}` associated with `{domain-id}`.
      responses:
        '200':
          description: A voice trunk object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voicetrunkObject'
        '404':
          description: No voice trunks found
    put:
      tags:
        - Trunks
      summary: Update voice trunk
      operationId: trunkUpdate
      description: |
        Update information for `{trunk-id}` associated with `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/voicetrunkUpdateObject'
      responses:
        '200':
          description: A voice trunk object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voicetrunkObject'
        '404':
          description: No voice trunks found
        '500':
          description: Request Failed
    delete:
      tags:
        - Trunks
      summary: Delete voice trunk
      operationId: trunkDelete
      description: |
        Delete a specific `{trunk-id}` associated with domain `{domain-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No voice trunk found
  '/customers/{customer-id}/hosted-applications':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Container Applications
      summary: List container applications
      operationId: customerListContainerApplications
      description: List container applications.
      responses:
        '200':
          description: A list of container application resources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/containerApplicationObject'
        '404':
          description: Not Found
  '/customers/{customer-id}/hosted-applications/{container-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: container-id
        schema:
          type: string
        required: true
        description: The container application name or ID.
    get:
      tags:
        - Container Applications
      summary: Get container application
      operationId: getContainerApplication
      description: Get container application.
      responses:
        '200':
          description: A container application object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/containerApplicationObject'
        '404':
          description: Not Found
    delete:
      tags:
        - Container Applications
      summary: Delete container application
      operationId: deleteContainerApplication
      description: Delete container application.
      responses:
        '204':
          description: Container application deleted
        '404':
          description: Not Found
  '/customers/{customer-id}/applications/{container-id}/blocks':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: container-id
        schema:
          type: string
        required: true
        description: A container application name or ID.
    get:
      tags:
        - Container Applications
      summary: List blocks
      operationId: listBlocks
      description: List blocks.
      responses:
        '200':
          description: A list of container application code blocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/containerApplicationBlock'
        '404':
          description: Not Found
  '/customers/{customer-id}/domains/{domain-id}/applications':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - Applications
      summary: List voice applications
      operationId: applicationsList
      description: |
        List all applications associated to the domain `{domain-id}`.
      responses:
        '200':
          description: An array of voice application objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/voiceApplicationObject'
        '404':
          description: No applications found
    post:
      tags:
        - Applications
      summary: Create voice application
      operationId: applicationCreate
      description: |
        Create a new application and associate it to the `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/voiceApplicationCreateObject'
      responses:
        '200':
          description: A voice application object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voiceApplicationObject'
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/applications/{application-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
      - in: path
        name: application-id
        schema:
          type: string
        required: true
        description: The application ID or application name.
    get:
      tags:
        - Applications
      summary: Get voice application
      operationId: applicationGet
      description: >
        Get information for a specific application `{application-id}` associated
        to the domain `{domain-id}`.
      responses:
        '200':
          description: A voice application object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voiceApplicationObject'
        '404':
          description: No applications found
    put:
      tags:
        - Applications
      summary: Update voice application
      operationId: applicationUpdate
      description: >
        Update a specific application `{application-id}` associated to the
        domain `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/voiceApplicationUpdateObject'
      responses:
        '200':
          description: A voice application object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voiceApplicationObject'
        '500':
          description: Request Failed
    delete:
      tags:
        - Applications
      summary: Delete voice application
      operationId: applicationDelete
      description: >
        Delete a specific application `{application-id}` associated to the
        domain `{domain-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No applications found
  '/customers/{customer-id}/domains/{domain-id}/applications/{application-id}/apikeys':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or name.
      - in: path
        name: application-id
        schema:
          type: integer
        required: true
        description: An application ID
    get:
      tags:
        - Applications
      summary: Get voice application API Keys
      operationId: applicationApikeyList
      description: >
        Get list of API keys associated with `{customer-id}` and `{domain-id}`
        and `{application-id}`.
      responses:
        '200':
          description: An array of API key objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/apikeyVoiceApplicationObject'
        '404':
          description: No API keys found
        '500':
          description: Request Failed
    post:
      tags:
        - Applications
      summary: Create voice application API Key
      operationId: applicationApikeyCreate
      description: >
        Create an application level API keys associated with `{customer-id}` and
        `{domain-id}` and `{application-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: my-customer-apikey-name
      responses:
        '200':
          description: An API key objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apikeyVoiceApplicationObject'
        '404':
          description: No API keys found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/applications/{application-id}/apikeys/{apikey-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or name.
      - in: path
        name: apikey-id
        schema:
          type: string
        required: true
        description: An API key ID.
      - in: path
        name: application-id
        schema:
          type: integer
        required: true
        description: An application ID
    delete:
      tags:
        - Applications
      summary: Delete voice application API Key
      operationId: applicationApikeyDelete
      description: >
        Delete the API key ID `{apikey-id}` associated with `{customer-id}` and
        `{domain-id}` and `{application-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No API keys found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/subscribers':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - Subscribers
      summary: List subscribers
      operationId: subscribersList
      description: |
        List all subscribers associated to the domain `{domain-id}`.
      responses:
        '200':
          description: An array of subscriber objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscriberObject'
        '404':
          description: No subscribers found
    post:
      tags:
        - Subscribers
      summary: Create subscriber
      operationId: subscriberCreate
      description: |
        Create a new subscriber and associate it to the `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriberCreateObject'
      responses:
        '200':
          description: A subscriber object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriberObject'
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/subscribers/{subscriber-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
      - in: path
        name: subscriber-id
        schema:
          type: string
        required: true
        description: Subscriber ID or subscriber MSISDN.
    get:
      tags:
        - Subscribers
      summary: Get subscriber
      operationId: subscriberGet
      description: >
        Get subscriber `{subscriber-id}` information associated to the domain
        `{domain-id}`.
      responses:
        '200':
          description: An subscriber object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriberObject'
        '404':
          description: No subscribers found
        '500':
          description: Request Failed
    put:
      tags:
        - Subscribers
      summary: Update subscriber
      operationId: subscriberUpdate
      description: >
        Update subscriber `{subscriber-id}` information associated to the domain
        `{domain-id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriberObject'
      responses:
        '200':
          description: A subscriber object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriberObject'
        '500':
          description: Request Failed
    delete:
      tags:
        - Subscribers
      summary: Delete subscriber
      operationId: subscriberDelete
      description: |
        Delete a subscriber and associate it to the `{domain-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: Subscriber not Found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/dnids':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - DNIDs
      summary: Get DNIDs List
      operationId: dnidList
      description: 'Get a list of DNIDs associated to the domain `{domain-id}`.'
      responses:
        '200':
          description: A list of DNID objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dnidObject'
        '404':
          description: No DNIDs found
        '500':
          description: Request Failed
    post:
      tags:
        - DNIDs
      summary: Create DNID
      operationId: dnidCreate
      description: >
        Create a DNID associated to the domain `{domain-id}`.


        <span style="color:red; font-weight: bolder;">


        ### **Special Consideration**


        </span>       


        - When creating or updating a DNID, you may set `dnid` or `source`.
        Defining both will result in a `400 Bad Request` Error.

        - When creating or updating a DNID, you may define the DNID as either a
        `prefix`, an `expression` or an `asteriskCompatible`. Defining two or
        more as `true` will result in a `400 Bad Request` Error.


        **A word about Asterisk based dialplan syntax**


        Asterisk&trade; is a highly popular Open Source PBX system, that is
        controlled by the Asterisk extensions configuration

        language. As such, Asterisk includes a very simple to use extension
        pattern matching syntax, the Cloudonix provides

        as a means to defining DNID numbers associated with a Voice Application.
        The DNID may be any alphanumeric string, based

        upon the following pattern matching characters, prefixed by the `_`
        character:


        - `X` matches any digit from 0-9

        - `Z` matches any digit from 1-9

        - `N` matches any digit from 2-9

        - `[1237-9]` matches any digit or letter in the brackets (in this
        example, 1,2,3,7,8,9)

        - `[a-z]` matches any lower case letter

        - `[A-Z]` matches any UPPER case letter

        - `.` wildcard, matches one or more characters

        - `!` wildcard, matches zero or more characters immediately


        **Examples**


        - `_61XX` will match any number between 6100 and 6199

        - `_70NN.` will match any number that starts with `70` and has at least
        2 more digits between 2-9 and any other character after these 2 digits.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dnidCreateObject'
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No DNID found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/dnids/{dnid-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
      - in: path
        name: dnid-id
        schema:
          type: string
        required: true
        description: A DNID ID.
    get:
      tags:
        - DNIDs
      summary: Get DNID
      operationId: dnidGet
      description: >
        Get information for a specific DNID ID `{dnid-id}` associated to the
        domain `{domain-id}`.
      responses:
        '200':
          description: A DNID object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnidObject'
        '404':
          description: No DNID found
        '500':
          description: Request Failed
    delete:
      tags:
        - DNIDs
      summary: Delete DNID
      operationId: dnidDelete
      description: >
        Delete a specific DNID ID `{dnid-id}` associated to the domain
        `{domain-id}`.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No DNID found
        '500':
          description: Request Failed
    put:
      tags:
        - DNIDs
      summary: Update DNID
      operationId: dnidUpdate
      description: >
        Update information for a specific DNID ID `{dnid-id}` associated to the
        domain `{domain-id}`.


        # **Special Consideration**

        When creating or updating a DNID, you may set `dnid` or `source`.
        Defining both will result in a `400 Bad Request` Error.

        When creating or updating a DNID, you may define the DNID as either a
        `prefix`, an `expression` or an `asteriskCompatible`. Defining two or
        more as `true` will result in a `400 Bad Request` Error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationId:
                  type: integer
                  example: 1234
                domainId:
                  type: integer
                  example: 1234
                dnid:
                  type: string
                  example: '^(123[4-7])'
                  description: |
                    The regular expression to match for this DNID.
                source:
                  type: string
                  example: '123[4-7]'
                  description: >
                    A simplified DNID expression to build a DNID regular
                    expression from.
                prefix:
                  type: boolean
                  example: true
                  description: >
                    When a source value is provided instead of a dnid value,
                    whether the source should be considered a prefix match.
                expression:
                  type: boolean
                  example: false
                  description: >
                    When a source value is provided instead of a dnid value,
                    whether the source should be interpreted for character class
                    expressions.
                asteriskCompatible:
                  type: boolean
                  example: true
                  description: >
                    When a source value is provided instead of a dnid value,
                    whether the source should be used as an asterisk-compatible
                    pattern match.
                active:
                  type: boolean
                  example: true
                global:
                  type: boolean
                  example: false
                  description: |
                    Whether the dnid is public.
      responses:
        '204':
          description: |
            Operation completed successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '404':
          description: No DNID found
        '500':
          description: Request Failed
  '/customers/{customer-id}/domains/{domain-id}/sessions':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
    get:
      tags:
        - Sessions
      summary: List sessions
      description: 'List sessions (will list all session, both active and inactive)'
      operationId: listSessions
      responses:
        '200':
          description: A list of session objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/sessionObject'
        '404':
          description: No sessions found
  '/customers/{customer-id}/domains/{domain-id}/sessions/{session-id}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: A domain ID or domain name.
      - in: path
        name: session-id
        schema:
          type: string
        required: true
        description: The ID of the session
    get:
      tags:
        - Sessions
      summary: Get session
      description: Get session by ID
      operationId: getSession
      responses:
        '200':
          description: A session object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionObject'
        '404':
          description: Session not found
    put:
      tags:
        - Sessions
      summary: Update session
      description: Update session by ID
      operationId: updateSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sessionUpdateObject'
      responses:
        '200':
          description: Session updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionObject'
        '400':
          description: Bad request
        '404':
          description: Session not found
    delete:
      tags:
        - Sessions
      summary: Delete session
      description: Delete session by ID
      operationId: deleteSession
      responses:
        '204':
          description: Session deleted successfully
        '404':
          description: Session not found
  '/calls/{domain-id}/application':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The ID or name of the domain
    post:
      tags:
        - Calls
      summary: Start outbound call
      description: >-
        Dial a remote destination, once answered, connect the destination to a
        voice application. <br/><br/> <strong>Detailed Workflow
        Description</strong><br/> In Cloudonix, every call must activate a
        <i>Voice Application</i>. A <i>Voice Application</i> is a CXML formatted
        document, as detailed in <a href="/cxml">CXML Reference</a>. Once the
        destination answers the call, the <i>Voice Application</i> will be
        activated.<br/> <br/> The <i>Voice Application</i> may be provided as a
        remote URL endpoint, a Cloudonix <i>Voice Application</i> name or ID, or
        an embedded CXML script.
      operationId: initiateCall
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callObject'
      responses:
        '200':
          description: Call initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callObjectResult'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Domain not found
  '/calls/{domain-id}/outgoing/{subscriber-msisdn}':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The ID or name of the domain
      - in: path
        name: subscriber-msisdn
        schema:
          type: string
        required: true
        description: >-
          The E164 MSISDN number of the subscriber for which to generate the
          session token.
    post:
      tags:
        - Calls
      summary: Start a new session
      description: >-
        Start a new session for a remote MUA. This request is used in
        conjunction with RegFree dialing workflows.
      operationId: initiatePreDialSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/preDialSessionObject'
      responses:
        '200':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callObjectResult'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Domain or subscriber not found
  '/calls/{domain-id}/sessions/{token}':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The name or ID of the domain
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: The session token
    patch:
      tags:
        - Calls
      description: Set or update the time limit for a session.
      summary: Set time limit
      operationId: patchCallToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timeLimit:
                  type: integer
                  description: The new time limit for the session in seconds
                  example: 3600
                callStartTime:
                  type: string
                  description: 'Call start timestmap, if not previously set.'
                  example: '2023-01-01T00:00:00Z'
      responses:
        '200':
          description: Session updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callObjectResult'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Session not found
  '/calls/{domain-id}/ringing/{msisdn}/{token}':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The name or ID of the domain
      - in: path
        name: msisdn
        schema:
          type: string
        required: true
        description: The MSISDN number
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: The session token
    get:
      tags:
        - Calls
      description: Notify a specific session that the remote MUA is currently ringing.
      summary: Ringing notification
      operationId: getRingingStatus
      responses:
        '200':
          description: Ringing status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ringing
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Call not found
  '/calls/{domain-id}/sessions/{token}/application':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The name or ID of the domain
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: The session token
    post:
      tags:
        - Calls
      summary: Switch voice application
      description: >-
        Switch an active session, indicated by `token`, to a new voice
        application.
      operationId: switchVoiceApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/switchVoiceApplicationObject'
      responses:
        '200':
          description: Session connected successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchVoiceApplicationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Session not found
  '/calls/{domain-id}/sessions/{token}/fork':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The name or ID of the domain
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: The session token
    post:
      tags:
        - Calls
      summary: Fork a routed/connected call into two active sessions.
      description: >-
        Fork a routed/connected call, indicated by `token`, to two new voice
        applications.
      operationId: forkVoiceApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/forkRoutedCall'
      responses:
        '200':
          description: Session forked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forkRoutedCallResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Session not found
  '/calls/{domain-id}/sessions/{token}/mute':
    parameters:
      - in: path
        name: domain-id
        schema:
          type: string
        required: true
        description: The name or ID of the domain
      - in: path
        name: token
        schema:
          type: string
        required: true
        description: The session token
    post:
      tags:
        - Calls
      summary: Mute
      description: 'Mute an active session, indicated by `token`.'
      operationId: muteSession
      responses:
        '204':
          description: |
            Session muted successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Session not found
    delete:
      tags:
        - Calls
      summary: Unmute
      description: 'Unmute an active session, indicated by `token`.'
      operationId: unmuteSession
      responses:
        '204':
          description: |
            Session unmuted successfully

            ```
            HTTP/1.1 204 No Content
            ```
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Session not found
  '/calls/{domain-id}/conferences':
    get:
      summary: List conferences
      description: 'List all conferences for `{domains-id}`'
      operationId: listConferences
      tags:
        - Conferences
      parameters:
        - name: domain-id
          in: path
          description: Domain ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of conferences
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/conferenceObject'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Domain not found
  '/calls/{domain-id}/conferences/{conference-id}':
    get:
      summary: Get conference
      description: >-
        Get conference details for `{conference-id}` currently active in
        `{domain-id}`
      operationId: getConferenceDetails
      tags:
        - Conferences
      parameters:
        - name: conference-id
          in: path
          description: Conference ID
          required: true
          schema:
            type: string
        - name: domain-id
          in: path
          description: Domain ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Conference details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conferenceObject'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Conference not found
    delete:
      summary: End conference
      description: 'End conference `{conference-id}` currently active in `{domain-id}`'
      operationId: endConference
      tags:
        - Conferences
      parameters:
        - name: conference-id
          in: path
          description: Conference ID
          required: true
          schema:
            type: string
        - name: domain-id
          in: path
          description: Domain ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Conference ended successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Conference not found
  '/customers/{customer-id}/reports':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Reports
      summary: Get customer statistics
      operationId: getCustomerStatistics
      description: |
        Get customer statistics and resource usage based on the customer token.
      responses:
        '200':
          description: Customer account statistics and resource usage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportCustomerObject'
        '404':
          description: Customer not found
  '/customers/{customer-id}/reports/current-calls':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
    get:
      tags:
        - Reports
      summary: Get current calls
      operationId: getCustomerActiveCalls
      description: |
        Get currently active calls.
      responses:
        '200':
          description: Customer account statistics and resource usage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportCustomerObject'
        '404':
          description: Customer not found
  '/customers/{customer-id}/reports/daily/{start-date}/{end-date}':
    parameters:
      - in: path
        name: customer-id
        schema:
          type: string
          default: self
        required: true
        description: A customer ID or name or `self` for own customer.
      - in: path
        name: start-date
        schema:
          type: string
          format: date
        required: true
        description: Start date for the report (YYYY-MM-DD)
      - in: path
        name: end-date
        schema:
          type: string
          format: date
          nullable: true
        required: false
        description: End date for the report (YYYY-MM-DD)
        allowEmptyValue: true
    get:
      tags:
        - Reports
      summary: Get daily concurrency report
      operationId: getCustomerDailyCalls
      description: |
        Get daily calls.
      responses:
        '200':
          description: Customer account statistics and resource usage information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/reportDailyCallsObject'
        '404':
          description: Customer not found
components:
  schemas:
    customerObject:
      type: object
      properties:
        id:
          type: integer
          example: 1000
          readOnly: true
          description: Unique identifier for the customer/tenant
        name:
          type: string
          example: some-name
          description: Name of the customer
        uuid:
          type: string
          example: uuid-string
          readOnly: true
          description: Universally unique identifier for the customer
        profile:
          $ref: '#/components/schemas/customerProfileObject'
          description: Customer profile details
        active:
          type: boolean
          example: true
          description: Indicates whether the customer is active or not
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the customer was created
        modifiedAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the customer was last modified
        deletedAt:
          type: string
          format: date-time
          nullable: true
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the customer was deleted
        settings:
          $ref: '#/components/schemas/customerSettingsObject'
          description: Customer settings details
    customerProfileObject:
      type: object
      properties:
        contact-name:
          type: string
          example: Contact full name
          description: Contact full name
        contact-email:
          type: string
          example: contact email address
          description: Contact email address
    customerSettingsObject:
      type: object
      properties:
        onboarding-position:
          $ref: '#/components/schemas/customerSettingObject'
    customerSettingsShortObject:
      type: object
    customerSettingObject:
      type: object
      properties:
        id:
          type: integer
          example: 1000
          readOnly: true
          description: Unique identifier for the setting
        tenantId:
          type: integer
          example: 1000
          readOnly: true
          description: Unique identifier for the customer/tenant
        name:
          type: string
          example: onboarding-position
          readOnly: true
          description: Name of the setting
        value:
          type: string
          example: developer
          readOnly: true
          description: Value of the setting
        apiKeyId:
          type: integer
          example: 1000
          readOnly: true
          description: Unique identifier for the API key associated with the setting
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the setting was created
        updatedAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the setting was last updated
        privileged:
          type: boolean
          example: false
          readOnly: true
          description: Indicates whether the setting is privileged or not
    domainAliasObject:
      type: object
      properties:
        id:
          type: integer
          example: 1000
          readOnly: true
          description: Unique identifier for the domain alias
        domainId:
          type: integer
          example: 1234
          readOnly: true
          description: Unique identifier for the domain
        alias:
          type: string
          example: alias.somedomain.net
          description: Domain alias
        active:
          type: boolean
          example: true
          description: Indicates whether the domain alias is active or not
        type:
          type: string
          example: main
          description: 'Type of domain alias (e.g., main, secondary)'
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the domain alias was created
        modifiedAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the domain alias was last modified
        deletedAt:
          type: string
          format: date-time
          nullable: true
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: Date and time when the domain alias was deleted
    domainObject:
      type: object
      properties:
        id:
          type: integer
          example: 1234
          readOnly: true
          description: The unique ID number for this domain
        tenantId:
          type: integer
          example: 2345
          readOnly: true
          description: The ID number of the customer who owns this domain
        domain:
          type: string
          example: somename.somedomain.net
          readOnly: true
          description: The full domain name
        active:
          type: boolean
          example: true
          description: Whether the domain is currently in use or not
        uuid:
          type: string
          example: uuid-string
          readOnly: true
          description: A unique identifier string for the domain
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: When the domain was first added to the system
        modifiedAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: When the domain was last changed
        deletedAt:
          type: string
          format: date-time
          nullable: true
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: 'When the domain was removed, if applicable'
        defaultApplication:
          type: integer
          example: 1234
          description: The ID of the main application used for this domain
        registrationFree:
          type: boolean
          example: false
          description: Whether users can register on this domain without charge
        profile:
          $ref: '#/components/schemas/domainProfileObject'
          description: Additional details about the domain
        application:
          $ref: '#/components/schemas/voiceApplicationObject'
          description: Information about the voice application linked to this domain
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/domainAliasObject'
          description: List of alternative names for this domain
        tenant:
          $ref: '#/components/schemas/customerObject'
          description: Details about the customer who owns this domain
    domainProfileObject:
      type: object
    voicetrunkCreateObject:
      type: object
      properties:
        name:
          type: string
          example: my-voice-trunk-name
          required: true
          description: A unique name for the voice trunk
        ip:
          type: string
          example: 192.168.1.1
          required: true
          description: The IP address or domain name of the voice trunk
        port:
          type: string
          example: 5060
          required: true
          description: The network port used by the voice trunk (usually 5060)
        transport:
          type: string
          enum:
            - udp
            - tcp
            - tls
          required: true
          description: 'The network protocol used for communication (udp, tcp, or tls)'
        prefix:
          type: string
          example: 4444#
          description: An optional prefix added to incoming calls from this trunk
        direction:
          type: string
          enum:
            - inbound
            - outbound
            - public-inbound
            - public-outbound
          required: true
          description: Specifies whether the trunk handles incoming or outgoing calls
        profile:
          type: object
          description: Additional configuration options for the voice trunk
    voicetrunkUpdateObject:
      type: object
      properties:
        ip:
          type: string
          example: 192.168.1.1
          description: The new IP address or domain name for the voice trunk
        port:
          type: string
          example: 5060
          description: The new network port for the voice trunk (typically 5060)
        transport:
          type: string
          enum:
            - udp
            - tcp
            - tls
          description: 'The new network protocol for communication (udp, tcp, or tls)'
        prefix:
          type: string
          example: 4444#
          description: A new optional prefix for incoming calls from this trunk
        direction:
          type: string
          enum:
            - inbound
            - outbound
            - public-inbound
            - public-outbound
          description: The new call direction for the trunk (incoming or outgoing)
        profile:
          type: object
          description: Updated additional configuration options for the voice trunk
    voicetrunkObject:
      type: object
      properties:
        id:
          type: integer
          example: 1234
          readOnly: true
          description: The unique ID number for this voice trunk
        tenantId:
          type: integer
          example: 1234
          readOnly: true
          description: The ID of the customer who owns this trunk
        domainId:
          type: integer
          example: 1234
          readOnly: true
          description: The ID of the domain this trunk belongs to
        name:
          type: string
          example: my-voice-trunk-name
          readOnly: true
          description: The name given to this voice trunk
        uuid:
          type: string
          example: uuid-string
          readOnly: true
          description: A unique identifier string for the trunk
        ip:
          type: string
          example: 192.168.1.1
          readOnly: true
          description: The IP address or domain name of the trunk
        port:
          type: string
          example: 5060
          readOnly: true
          description: The network port used by the trunk
        transport:
          type: string
          enum:
            - udp
            - tcp
            - tls
          readOnly: true
          description: 'The network protocol used (udp, tcp, or tls)'
        prefix:
          type: string
          example: 4444#
          readOnly: true
          description: An optional prefix for incoming calls
        direction:
          type: string
          enum:
            - inbound
            - outbound
            - public-inbound
            - public-outbound
          readOnly: true
          description: Whether the trunk handles incoming or outgoing calls
        profile:
          type: object
          description: Additional configuration details for the trunk
          properties:
            authentication:
              type: object
              properties:
                username:
                  type: string
                  example: rj3456243
                  description: The voice trunk assigned username for authentication.
                password:
                  type: string
                  example: securepassword
                  description: The voice trunk assigned password for authentication.
                overwrite-from:
                  type: boolean
                  example: false
                  description: >-
                    Set the outbound `From` header to be the same value as
                    `username`.
        active:
          type: boolean
          example: true
          readOnly: true
          description: Whether the trunk is currently in use
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: When the trunk was first added to the system
        modifiedAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: When the trunk was last changed
        deletedAt:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: 'When the trunk was removed, if applicable'
        metric:
          type: integer
          example: 0
          description: A value used for trunk routing decisions
        allowGlobal:
          type: boolean
          example: false
          description: Whether the trunk can be used across all domains
        globalPrefix:
          type: string
          nullable: true
          description: A prefix used when the trunk is used globally
        domain:
          $ref: '#/components/schemas/domainObject'
          description: Details about the domain this trunk belongs to
    subscriberObject:
      type: object
      properties:
        id:
          type: integer
          example: 1234
          readOnly: true
          description: The unique ID number for this subscriber
        domainId:
          type: integer
          example: 1234
          readOnly: true
          description: The ID of the domain this subscriber belongs to
        msisdn:
          type: string
          example: 12127773456
          readOnly: true
          description: The phone number of the subscriber
        uuid:
          type: string
          example: uuid-string
          readOnly: true
          description: A unique identifier string for the subscriber
        active:
          type: boolean
          example: true
          readOnly: true
          description: Whether the subscriber account is currently active
        sipPassword:
          type: string
          example: some_silly_password
          readOnly: true
          description: The password used for SIP authentication
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: When the subscriber was first added to the system
        modifiedAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:51Z'
          readOnly: true
          description: When the subscriber information was last updated
        deletedAt:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: 'When the subscriber was removed, if applicable'
        profile:
          type: object
          description: Additional configuration details for the subscriber
    subscriberCreateObject:
      type: object
      properties:
        msisdn:
          type: string
          example: 12127773456
          required: true
          description: The phone number for the new subscriber
        sipPassword:
          type: string
          example: some_silly_password
          required: true
          description: The password for SIP authentication
        profile:
          type: object
          description: Additional settings for the subscriber (optional)
    userObject:
      type: object
      properties:
        id:
          type: integer
          example: 1000
          readOnly: true
          description: The user's unique ID number
        tenantId:
          type: integer
          example: 2000
          readOnly: true
          description: The ID of the customer or organization the user belongs to
        domainId:
          type: integer
          nullable: true
          example: null
          readOnly: true
          description: The ID of the domain associated with the user (if any)
        email:
          type: string
          example: email@example.com
          readOnly: true
          description: The user's email address
        authProvider:
          type: string
          example: password
          readOnly: true
          description: 'The method used for user authentication (e.g., password, OAuth2)'
        auth:
          type: object
          nullable: true
          example: null
          description: Additional authentication information (if applicable)
        active:
          type: boolean
          example: true
          description: Whether the user account is currently active
        lastLogin:
          type: string
          format: date-time
          example: '2025-01-12T09:58:35Z'
          readOnly: true
          description: The date and time of the user's most recent login
    premiumVoiceObject:
      type: object
      properties:
        voice:
          type: string
          example: 'Polly:Astrid'
          readOnly: true
          description: The name of the text-to-speech voice
        gender:
          type: string
          example: female
          readOnly: true
          description: 'The gender of the voice (e.g., male, female)'
        languages:
          type: array
          description: List of language codes this voice supports
          items:
            type: string
            example: sv-SE
        provider:
          type: string
          example: Polly
          readOnly: true
          description: >-
            The company or service providing the voice (e.g., Polly,
            Text-to-Speech)
        pricing:
          type: string
          example: standard
          readOnly: true
          description: 'The cost category of the voice (e.g., standard, premium)'
    apikeyObject:
      type: object
      properties:
        id:
          type: integer
          example: 1000
          readOnly: true
          description: Unique number identifying this API key
        tenantId:
          type: integer
          example: 1000
          readOnly: true
          description: ID of the customer or organization
        domainId:
          type: integer
          nullable: true
          example: null
          readOnly: true
          description: ID of the associated domain (if any)
        applicationId:
          type: integer
          nullable: true
          example: 1000
          readOnly: true
          description: ID of the associated application (if any)
        subscriberId:
          type: integer
          nullable: true
          example: null
          readOnly: true
          description: ID of the associated subscriber (if any)
        userId:
          type: integer
          example: 1000
          readOnly: true
          description: ID of the user who owns this API key
        active:
          type: boolean
          example: true
          description: Whether the API key is currently usable
        name:
          type: string
          example: apikey-name
          description: Human-readable name for the API key
        keyId:
          type: string
          example: apikey-string
          description: Public identifier for the API key
        secret:
          type: string
          nullable: true
          example: very_secure_secret
          description: Secret part of the API key (only shown once)
        type:
          type: string
          example: user
          description: 'Category of API key (e.g., user, application)'
        createdAt:
          type: string
          format: date-time
          example: '2024-05-09T12:42:54Z'
          readOnly: true
          description: When the API key was created
        modifiedAt:
          type: string
          format: date-time
          example: '2025-01-12T10:32:59Z'
          readOnly: true
          description: When the API key was last changed
        deletedAt:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: When the API key was removed (if applicable)
        activeAt:
          type: string
          format: date-time
          example: '2025-01-12T10:32:59Z'
          nullable: true
          description: When the API key was last activated
        tenant-id:
          type: integer
          example: 1000
          readOnly: true
          description: ID of the customer (same as tenantId)
        domain-id:
          type: string
          example: domain-1234
          description: String identifier for the domain
        tenant:
          type: object
          $ref: '#/components/schemas/customerObject'
          description: Detailed customer information
        domain:
          type: object
          $ref: '#/components/schemas/domainObject'
          description: Detailed domain information
        application-id:
          type: integer
          example: 1000
          description: ID of the associated voice application
        application:
          type: object
          $ref: '#/components/schemas/voiceApplicationObject'
          description: Detailed application information
        user-id:
          type: integer
          example: 1000
          description: ID of the user (same as userId)
        user:
          type: object
          $ref: '#/components/schemas/userObject'
          description: Detailed user information
    apikeyCustomerObject:
      type: object
      properties:
        id:
          type: integer
          example: 1000
          readOnly: true
          description: Unique number for this API key
        tenantId:
          type: integer
          example: 1000
          readOnly: true
          description: ID of the customer or organization
        domainId:
          type: integer
          nullable: true
          example: null
          readOnly: true
          description: ID of the linked domain (if any)
        applicationId:
          type: integer
          nullable: true
          example: 1000
          description: ID of the linked voice application (if any)
        subscriberId:
          type: integer
          nullable: true
          example: null
          readOnly: true
          description: ID of the linked subscriber (if any)
        userId:
          type: integer
          example: 1000
[...]
